# Strings
- string data type is a sequence of one or more individual characters that counld consist of letters, numbers, whitespace characters or symbols.
- enclosed with a '' or ""

In [1]:
s = 'a'
type(s)

str

In [7]:
s1 = "python"
type(s1)
len(s1)

6

In [8]:
# string slicing
s1[0]

'p'

In [9]:
s1[0:3]

'pyt'

In [10]:
s1[:]

'python'

In [11]:
s1[2:]

'thon'

In [12]:
s1[2:4]

'th'

In [13]:
# reversing a string
s1[:-1]

'pytho'

In [15]:
s1[::-1]

'nohtyp'

In [17]:
print(dir(str),end='')

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [19]:
s1.lower()

'python'

In [20]:
s1.upper()

'PYTHON'

In [21]:
s1.capitalize()

'Python'

In [22]:
s2 = "welcome to the python"
s2.title()

'Welcome To The Python'

In [37]:
s2.center(25,' ')

'  welcome to the python  '

In [38]:
s2.split()

['welcome', 'to', 'the', 'python']

In [39]:
s3 = "  apssdc   "
s3.strip()

'apssdc'

In [40]:
s3.rstrip()

'  apssdc'

In [41]:
s3.lstrip()

'apssdc   '

In [46]:
a = '_'
b = "sana"
a.join(b)

's_a_n_a'

In [50]:
s2.count('t')

3

In [48]:
s2

'welcome to the python'

In [57]:
s2.find('o')

4

In [56]:
s2.index('p')

15

In [60]:
#polindrome
s = input("enter string: ")
if s==s[::-1]:
    print("palindrome")
else:
    print("not")

enter string: RACECAR
palindrome

In [71]:
# sum of digits
# "1 2 3 sudha 7676" ---> i/p
# 
s=input('enter string: ')
#a=s.split()
# a=["1","2","3", "sudha","7676"]
sum=0
for i in s:
    if i.isdigit():
        sum=sum+int(i) # sum=0+int('1')=1
print('total sum',sum)
print(type(sum))

enter string: 654 hjg 987
total sum 39
<class 'int'>

In [72]:
# concatenation
s1 = "sana"
s2 = "sudha"
s1+s2

'sanasudha'

In [73]:
a1 = "123"
a2 = "143"
a1+a2

'123143'

In [75]:
x1 = 7895
x2 = "sana"
str(x1)+x2

'7895sana'

In [76]:
# Replicating
x2*3

'sanasanasana'

In [78]:
chr(92)

'\\'

In [79]:
ord('a')

97

In [80]:
ord('A')

65

In [81]:
chr(66)

'B'

In [82]:
chr(98)

'b'

In [83]:
ord('#')

35

In [84]:
ord('*')

42

In [ ]:
# isdigit()
# isnum()
# isalnum()
# isalpha()

In [85]:
bin(10)

'0b1010'

In [86]:
oct(10)

'0o12'

In [88]:
hex(19)

'0x13'