# Data Structures
- Lists
- Tuple
- Dictionaries
- Sets

## Lists
- syntax: lst = []

In [1]:
lst = [10,20,"sana",5.2,"sudha"]
type(lst)

list

In [2]:
lst[0]

10

In [5]:
lst[-5]

10

In [3]:
len(lst)

5

In [6]:
lst[0:4]

[10, 20, 'sana', 5.2]

In [7]:
lst[::-1]

['sudha', 5.2, 'sana', 20, 10]

In [9]:
print(dir(list),end=' ')

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [13]:
lst.reverse()
lst

['sudha', 5.2, 'sana', 20, 10]

In [14]:
lst.count(10)

1

In [15]:
lst.count(5)

0

In [16]:
lst.index('sana')

2

In [19]:
lst.insert(0,'sdc')
lst

['sdc', 'sdc', 'sudha', 5.2, 'sana', 20, 10]

In [21]:
lst.pop()

10

In [24]:
lst.remove('sdc')
lst

['sudha', 5.2, 'sana', 20]

In [25]:
s = lst.copy()
s

['sudha', 5.2, 'sana', 20]

In [26]:
lst1 = [10,20,30,40,50]
lst=lst1.copy()

In [27]:
lst

[10, 20, 30, 40, 50]

In [28]:
lst.clear()

In [29]:
lst

[]

In [30]:
del lst

In [31]:
lst

NameError: name 'lst' is not defined

In [32]:
lst1.sort()

In [33]:
lst1

[10, 20, 30, 40, 50]

In [34]:
s =[2,1,8,4,9,6]
s.sort()

In [36]:
len(s)

6

In [37]:
min(s)

1

In [38]:
max(s)

9

In [39]:
lst1

[10, 20, 30, 40, 50]

In [40]:
lst1.append('sana')
lst1

[10, 20, 30, 40, 50, 'sana']

In [41]:
lst1.append([1,'sudha'])
lst1

[10, 20, 30, 40, 50, 'sana', [1, 'sudha']]

In [42]:
lst1.extend([2,'ap'])
lst1

[10, 20, 30, 40, 50, 'sana', [1, 'sudha'], 2, 'ap']

In [43]:
lst1[2]

30

In [44]:
lst1[6]

[1, 'sudha']

In [45]:
lst1[6][1]

'sudha'

In [46]:
lst1[-1]

'ap'

In [49]:
s1=['apple','banana','orange','parrot']
#s1.pop()
#s1.remove("parrot")
s1[:-1]

['apple', 'banana', 'orange']

In [66]:
s1.extend(["dog",'rabbit'])

In [67]:
s1

['apple', 'banana', 'orange', 'dog', 'dog', 'rabbit', 'dog', 'rabbit']

In [68]:
print(s1[:3],s1[3:])

['apple', 'banana', 'orange'] ['dog', 'dog', 'rabbit', 'dog', 'rabbit']

In [61]:
s1.pop(3)

'dog'

In [63]:
s1.pop()

'rabbit'

# Tuple
- tuple has just like a immutable python objects
- enclodes with ()
- syntax : tup=()

In [73]:
tup=(1,23,[3,6,7])
type(tup)

tuple

In [75]:
tup[2][1]

6

In [71]:
tup[0:3]

(1, 23, 3)

In [72]:
tup[::-1]

(7, 6, 3, 23, 1)

In [77]:
print(dir(tup),end='')

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [80]:
tup.count(3)

0

In [81]:
tup.count(23)

1

In [88]:
tup.index(1)

0

In [93]:
t = ('a','p','s','s','d','c')
x=''.join(t)
x

'apssdc'

In [91]:
for i in t:
    print(i,end='')

apssdc

In [94]:
# mutable
lst = [10,20,30,40]
lst[1]=100
lst

[10, 100, 30, 40]

In [95]:
# immutable
tup=(1,2,3,4)
tup[1]=20
tup

TypeError: 'tuple' object does not support item assignment

In [97]:
t = ()
len(t)

0