- Set
    - One of the datastructures which are unordered and unindexed
    - Represent with curly brackets  --> {}
    - Contains only unique elements

In [1]:
## Creation

s = {1,9.6,5,3,'str'}
s

{1, 3, 5, 9.6, 'str'}

In [5]:
## Duplications are not allowed

s = {1,2,3,4,5,6,7,1,2,3,10,4,1,1,2}
s

{1, 2, 3, 4, 5, 6, 7, 10}

In [4]:
l = [1.2,4]
l[0]

1.2

In [6]:
## sets are unindexed

s[0]

TypeError: 'set' object is not subscriptable

In [7]:
s

{1, 2, 3, 4, 5, 6, 7, 10}

In [8]:
for i in s:
    print(i,end=' ')

1 2 3 4 5 6 7 10

In [9]:
s

{1, 2, 3, 4, 5, 6, 7, 10}

In [11]:
type(s)

set

In [14]:
a = list(s)

In [13]:
s[0]

TypeError: 'set' object is not subscriptable

In [15]:
a

[1, 2, 3, 4, 5, 6, 7, 10]

In [16]:
a[0]

1

In [17]:
a[1]

2

In [18]:
set(a)

{1, 2, 3, 4, 5, 6, 7, 10}

In [19]:
print(dir(set),end=' ')

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [20]:
## add new elements to the original set
## if elements existed it will not add
## adding only one elements

s1 = {34,'gh',3.5,5,2,'uo'}

In [21]:
s1

{2, 3.5, 34, 5, 'gh', 'uo'}

In [22]:
s1.add('nandini')

In [23]:
s1

{2, 3.5, 34, 5, 'gh', 'nandini', 'uo'}

In [24]:
s1.add(5)
s1

{2, 3.5, 34, 5, 'gh', 'nandini', 'uo'}

In [31]:
## adding more than one elements to the set

a = {1,2,3}
b = {7,8,9}
a.update(b)
b.update(a)

In [32]:
a

{1, 2, 3, 7, 8, 9}

In [34]:
print(b)

{1, 2, 3, 7, 8, 9}

In [35]:
s

{1, 2, 3, 4, 5, 6, 7, 10}

In [36]:
## it removes all elements in set

s.clear()

In [37]:
s

set()

In [38]:
## returns copied data

s1 = {5,'adf',7,3}
s2 = s1.copy()

In [39]:
s1

{3, 5, 7, 'adf'}

In [40]:
s2

{3, 5, 7, 'adf'}

In [41]:
s1 = {5,'adf',7,3}
s2 = {8,4}
s3 = s1.copy(s2)

TypeError: copy() takes no arguments (1 given)

In [42]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

- difference
    - removes the common elements in two sets
    - returns the unique elements in first set
    - Syntax
        - set1.difference(set2)
- difference_update
    - returns the new updated set after making difference between two sets
    - chang the original set
    - Syntax:
        - set1.difference_update(set2)

In [58]:
s2 = {10,1,5,3,9,'dog'}
s1 = {1,10,4,7,'cat',98}
s3 = s1.difference(s2)
s4 = s2.difference(s1)
print(s1)
print(s2)
print(s3)
print(s4)

{1, 'cat', 98, 4, 7, 10}
{1, 3, 5, 9, 10, 'dog'}
{'cat', 4, 98, 7}
{9, 'dog', 3, 5}

In [59]:
s1

{1, 10, 4, 7, 98, 'cat'}

In [53]:
s2 = {1,10,4,7,65}
s1 = {10,1,5,3,9}
print(s2)
print(s1)

{65, 1, 4, 7, 10}
{1, 3, 5, 9, 10}

In [62]:
s = {10,1,5,3,9}
e = {1,10,4,7}
s.difference_update(e)
e.difference_update(s)
print(s)
print(e)

{3, 5, 9}
{1, 10, 4, 7}

In [56]:
s

{3, 5, 9}

In [57]:
e

{1, 4, 7, 10}

In [64]:
s = {10,1,5,3,9}
e = {1,10,4,7}
s.difference_update(e)
s

{3, 5, 9}

In [78]:
s = {10,1,5,3,9}
e = {1,10,4,7}
r = {6,7}
t = {8}
e.difference_update(s,r,t)
e

{4}

In [66]:
s

{1, 3, 5, 9, 10}

In [67]:
e

{4, 7}

In [79]:
## removes the mentioned element
s

{1, 3, 5, 9, 10}

In [81]:
s.discard(9)

In [70]:
s

{1, 3, 5, 10}

In [71]:
s.discard(10)
s

{1, 3, 5}

- Intersection
    - returns the common elements in sets
- Intersection_update
    - removes the elements in one set which are not present in other set
    - returns the updated set

In [87]:
s1 = {1,2,4,8,9}
s2 = {3,5,7,8,9}
i = s1.intersection(s2)
i

{8, 9}

In [88]:
s1

{1, 2, 4, 8, 9}

In [89]:
s2

{3, 5, 7, 8, 9}

In [90]:
s = {2,4,6,8,10,5}
u = {1,3,5,7,9,2}
s.intersection_update(u)
s

{2, 5}

In [91]:
s

{2, 5}

In [95]:
# union
## return a set that contains all items from both sets, duplication are excluded

x = {'sun','mon','tue'}
y = {'day1','day2','day3','day4','tue','tue'}
t = {8,5}
z = x.union(y,t)
z

{5, 8, 'day1', 'day2', 'day3', 'day4', 'mon', 'sun', 'tue'}

In [96]:
y

{'day1', 'day2', 'day3', 'day4', 'tue'}

In [97]:
x

{'mon', 'sun', 'tue'}

In [98]:
t

{5, 8}

- isdisjoint()
    - returns True if no items in set1 matches set2 
    - else returns False
- issubset()
    - returns True if all items in set1 matches set2
    - else returns False
- issuperset()
    - returns True if all items in set1 matches set2
    - else returns False

In [101]:
a = {1,2,3,4,5}
b = {6,7,8,9}
c = {1,2,3,4,5}
r1 = a.isdisjoint(b)
r2 = a.isdisjoint(c)
print(r1)
print(r2)

True
False

In [102]:
a = {1,2,3,4,5,7}
c = {1,2,3,4}
r3 = a.issubset(c)
r4 = c.issubset(a)
print(r3)
print(r4)

False
True

In [109]:
a = {1,2,3,4,6,5}
c = {1,2,3,4,5}
r5 = a.issuperset(c)
r6 = c.issuperset(a)
print(r5)
print(r6)

True
False

In [110]:
s

{2, 5}

In [111]:
## delete specified elements
s.remove(5)

In [112]:
s

{2}

- symmetric difference
    - returns set which contain elements which are not same
- symmetric_difference_update
    - removes the common elements in both sets
    - inserts the items which are not present in both set
    - changes the orginal set
- pop

In [114]:
a = {1,2,3,4,5,7}
c = {1,2,3,4,7}
d = a.symmetric_difference(c)
d

{5}

In [115]:
a = {1,2,3,4,5,7}
c = {1,2,3,4,7}
d = c.symmetric_difference(a)
d

{5}

In [116]:
## common elements

a = {1,2,3,4,5,7}
c = {1,2,3,4,7}
a.symmetric_difference_update(c)
a

{5}

In [117]:
a

{5}

In [119]:
a = {1,2,3,4,5,7}
c = {1,2,3,4,6,8}
d = a.difference(c)
e = a.symmetric_difference(c)
print(d)
print(e)

{5, 7}
{5, 6, 7, 8}

In [120]:
s

{2}

In [121]:
## it removes the elements by randomly

s = {3,6,7,8,4}
s.pop()

3

In [122]:
s.pop()

4

In [123]:
s

{6, 7, 8}

In [124]:
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
C = {1, 2, 3}
print(A.issuperset(B))
print(B.issuperset(A))
print(C.issuperset(B))

True
False
True

#### 1234adsf56712305@&^

0 - 1
1 - 2
2 - 2
3 - 1
4 - 1
5 - 2
6 - 1
7 - 1
8 - 0
9 - 0

In [ ]:

## hackerrank
## hackerearth